.upload button {
    text-align: center;
    display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #979797;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.upload button:active {
    background-color: rgb(30, 30, 30);
  }

  
  .upload button:focus {
    outline: none;
  }
  
  .upload button:not(:active):not(:focus) {
    background-color: rgb(73, 72, 72);
  }