.fa-circle {
    color: rgb(135, 135, 135);
  }
  .cpwright {
    color: rgb(255, 255, 255);
    font-size: large;
  }
  .svw{
    text-align: left;
    color: rgb(255, 255, 255);

  }
  .ul{
font-size: large;
padding-left: 30%;  }
